{% extends '_templates/base.twig' %}

{% block base %}

   {% include 'project_fps/_organisms/interface/fps-header.twig' %}

   <div class="main" class="uncut-mustard {{post.parent.slug}}"
      global_hero="{{post.post_type}}"
      post-type="{{ post.post_type }}"
      page-id="{{post.ID}}"
      parent-id="{{function("wp_get_post_parent_id", post.id)}}">

      {% block body %}{% endblock %}

   </div>

   {% include 'project_fps/_organisms/interface/fps-footer.twig' %}

{% endblock base %}
