<!DOCTYPE html>
<html>
    <head>
        {% block head %}

           {% include '_atoms/media/favicons.twig' %}

            <meta charset="{{ function( 'bloginfo', 'charset' ) }}"/>
            <meta name="viewport" content="width=device-width, initial-scale=1">

            <!-- <script data-main="assets/js/main" src="assets/js/libs/require/require.js"></script> -->

            {{ wp_head }}

            <title> {{ head_title }} </title>

            <!-- <script src="https://use.typekit.net/gnp5eot.js"></script>
            <script>try{Typekit.load({ async: true });}catch(e){}</script> -->
            <script type="text/javascript">
               var ajax_url = "{{ constant('RW_AJAXURL') }}";
            </script>

        {% endblock %}
    </head>
      <!--[if lt IE 7]>      <body class="ie6">    <![endif]-->
      <!--[if IE 7]>         <body class="ie7">    <![endif]-->
      <!--[if IE 8]>         <body class="ie8">    <![endif]-->
      <!--[if IE 9]>         <body class="ie9">    <![endif]-->
      <!--[if gt IE 9]>      <body class="ie10+">  <![endif]-->
      <!--[if !IE]><!-->     <body>                <!--<![endif]-->

      {% if mustard != true and icons != '' %}
         {{ icons }}
      {% endif %}

         {% include 'project_fps/_atoms/interface/overlay--load.twig' %}
         {# {% include 'project_fps/_atoms/interface/cookie-policy.twig' %} #}

            {% block base %}

            {% endblock %}

     </body>
</html>
