
{% import 'el.twig' as el %}

{# create the innerHTML #}
{% set inner %}
   <div class="featured-page__inner grid grid--row grid--gutter-rg-right">
      <div class="featured-page__preview grid__60-of-100 grid grid--col grid--gutter-sm-bottom flex--just-center">

         {{ el.createHTMLTag( 'h2', {}, [ { block: 'p' }, { block: 'featured-page', element: 'heading' }], page.post_title ) }}
         {{ el.createHTMLTag( 'h2', {}, [ { block: 'h2' }, { block: 'featured-page', element: 'sub-heading' }], page.sub_heading ) }}
         <div class="featured-page__content">
            {{ page.intro.content|slice(0, 160) }}
         </div>

      </div>
      <div class="grid__40-of-100 grid grid-col flex--just-center flex--align-items-center">

         {% include '_atoms/icon/icon.twig' with { icon: page.icon, bem: [ { block: 'featured-page', element: 'icon' }, { block: 'icon', modifier: [icon_size] } ] } %}

      </div>
   </div>
   {% include '_atoms/icon/icon.twig' with { icon: 'icon-arrow-right', bem: [ { block: 'featured-page', element: 'arrow' }, { block: 'icon', modifier: ['sm'] } ] } %}
{% endset %}

{# create a block and pass the innerHTML #}
{% set theblock %}
   <div class="overlay featured-page__overlay"></div>
   {{ el.createHTMLTag('img', { src: page.featured_image }, [{block:'featured-page__image'}] ) }}
   {% include '_atoms/block/block.twig' with { innerHTML: inner } %}
{% endset %}

{# create the featured page and pass the block #}
{{ el.createHTMLTag( 'a', { href: page.post_name }, [ { block: 'transparent' }, { block: 'featured-page', modifier: [ page.colour ] } ], theblock ) }}
