 {# form #}
 {% import 'bem.twig' as bemify %}
 {% set classname = bemify.bem(bem) %}

 {% import 'attrs.twig' as attrfy %}
 {% set attrs_str = attrfy.attrs(attrs) %}

<form action="{{action}}" method="{{method}}" name="{{form_name}}" class="{{classname}}" id="{{form_name}}" {{attrs_str}}>
   {% block fields %} {% endblock %}
</form>
