
{% extends 'project_fps/_templates/tmpl--regular-page.twig' %}

{% block content %}

   {% include 'project_fps/_molecules/content/block--content-headline.twig' %}

      <div class="grid-desktop grid-desktop--row grid-desktop--gutter-md-right
      grid-tablet grid-tablet--row grid-tablet--gutter-md-right
      grid-mobile grid-mobile--col grid-mobile--gutter-lg-bottom grid-mobile--gutter-full">
         <div class="events__details grid-desktop__65-of-100
         grid-tablet__65-of-100
         grid-mobile__100-of-100">
            <div class="events events--navigated">
               <div class="grid grid--col grid--gutter grid--gutter-xlg-bottom">

                  {% if posts %}
                     {% for post in posts %}
                        <div class="grid__100-of-100">

                           <div class="{{post.post_type}} {{post.post_type}}--{{function('wp_get_post_terms', post.id, 'event-type').0.slug}}">

                              <div class="grid grid--col grid--gutter grid--gutter-rg-bottom">
                                 <div class="grid__100-of-100">

                                    {% for term in function('wp_get_post_terms', post.id, 'event-type') %}
                                       {% embed '_molecules/content/block.twig' with { bem: [ { block: 'block--sm' }, { block: 'dark' } ] } %}
                                          {% block body %}
                                             {% include '_atoms/content/heading.twig' with { bem: [{ block: 'event__type' }], size: 'h4', heading: term.name} only %}
                                          {% endblock %}
                                       {% endembed %}
                                    {% endfor %}

                                 </div>
                                 <div class="grid__100-of-100">

                                    <div class="event__meta">

                                       <div class="grid grid--col grid--gutter grid--gutter-null-bottom">

                                          {% include 'project_fps/_atoms/content/date--from-to.twig' %}
                                          {% include '_atoms/content/date.twig' with { date: ' ' ~ post.get_field('location') } %}

                                       </div>
                                    </div>

                                 </div>
                                 <div class="grid__100-of-100">

                                    <div class="post post--{{post.post_type}} content">
                                       {% include '_atoms/content/heading.twig' with { size: 'h3', heading: post.title } %}
                                       <p>{{ post.content|slice(0, 250) }}</p>

                                       {% include '_atoms/interface/button.twig' with {
                                          bem : [
                                             { block: 'btn', modifier: ['primary', 'dark'] }
                                          ],
                                          anchor_link: post.link,
                                          anchor_text: 'read more',
                                          icon: 'icon-arrow'
                                       } %}
                                    </div>

                                 </div>
                              </div>


                           </div>

                        </div>
                     {% endfor %}

                  {% else %}

                     {% embed '_molecules/content/block.twig' with { bem: [ { block: 'block--sm' }, { block: 'dark' } ] } %}
                        {% block body %}
                           {% include '_atoms/content/heading.twig' with {size: 'h5', heading: 'No Events this month.' } only %}
                        {% endblock %}
                     {% endembed %}

                  {% endif %}
               </div>
            </div>
         </div>
         <div class="events__calendar grid-desktop__35-of-100
         grid-tablet__35-of-100
         grid-mobile__100-of-100">

            <div class="grid grid--col grid--gutter grid--gutter-rg-bottom">
               <div class="grid__100-of-100 flex flex--center">

                  {% include '_molecules/interface/calendar.twig' with { calendar: calendar, events: posts, bem: [ {block: 'calendar'} ] } %}

               </div>
               <div class="grid__100-of-100 flex flex--center">

                  <div class="events__terms">
                     {% for term in terms %}
                         {% include '_atoms/content/span.twig' with { bem: [{ block: 'calendar__terms' }, { block: 'btn', modifier: ['icon-before', 'border-before'] }, {block: term.slug}], span_text: term.name } %}
                     {% endfor %}
                  </div>

               </div>
            </div>

         </div>
      </div>

{% endblock %}
