
{% extends 'project_fps/_templates/body.twig' %}

{% block body %}

   <div class="wrap--break-sm">
      {% embed 'project_fps/_organisms/interface/slideshow.twig' %}
         {% block slideshow__body %}

            <div class="wrap wrap-tablet wrap-mobile wrap--rg">

               <div class="grid-desktop grid-desktop--row grid--gutter grid-desktop--gutter-lg-right
               grid-tablet grid-tablet--col grid--gutter grid-tablet--gutter-lg-bottom
               grid-mobile grid-mobile--col grid--gutter grid-mobile--gutter-lg-bottom
               flex--align-items-start">
                  {% embed '_molecules/content/block.twig' with { bem: [ {block:'block', modifier: ['why-use-fps-member-1','danube', 'light']}, {block: 'grid-mobile__100-of-100'}, {block: 'grid-tablet__100-of-100'}, {block: 'grid-desktop__50-of-100'} ] } %}
                     {% block body %}
                           <h1> {{post.name}} </h1>
                     {% endblock %}
                  {% endembed %}

                  {% embed '_molecules/content/block.twig' with { bem: [ {block:'block', modifier: ['why-use-fps-member-2','upsdellred', 'light']}, {block: 'grid-mobile__100-of-100'}, {block: 'grid-tablet__100-of-100'}, {block: 'grid-desktop__50-of-100'} ] } %}
                     {% block body %}
                           <h2> {{post.get_field('subhead')}} </h2>
                     {% endblock %}
                  {% endembed %}
               </div>

            </div>

         {% endblock %}
      {% endembed %}
   </div>

   <div class="wrap wrap--rg wrap--break-rg">
      <div class="post post--{{post.post_type}}">

         <div class="grid grid--col grid--gutter grid--gutter-xlg-bottom">
            <div class="grid__100-of-100">
               {% include '_organisms/interface/breadcrumbs.twig' with { breadcrumbs: [
                     { anchor_text : post.parent.name, anchor_link : '/' ~ post.parent.link },
                 ], breadcrumb_icon: "icon-seperator"
               } %}
            </div>
            <div class="grid__100-of-100">
               <div class="content article__body {{post.slug}}">
                  {{post.content}}
               </div>
            </div>
         </div>

      </div>
   </div>

   <div class="wrap">

      <div class="audits">

         {% set colors = ['upsdellred', 'danube', 'equator', 'thumbthumb', 'tango'] %}

         {% for item in post.get_field('content_block') %}

            {% set even = loop.index is even ? 'audit--right': '' %}

            <div class="audit audit--{{loop.index}} {{even}} wrap--break-lg">
               <div class="audit__body grid-desktop grid-desktop--row {{ loop.index is odd ?'grid-desktop--lg-gutter-left':''}}
               grid-tablet grid-tablet--col
               grid-mobile grid-mobile--col flex--align-items-start">

                  <span class="audit__image grid-desktop__40-of-100 grid-tablet__100-of-100 grid-mobile__100-of-100" style="background-image: url({{ attribute( item.image.sizes, 'tile-scale-' ~ device ) }});"></span>

                  {% embed '_molecules/content/block.twig' with { bem: [ {block: 'audit__block'}, {block: 'block--light'}, {block: 'grid-desktop__60-of-100'}, {block: 'grid-tablet__100-of-100'}, {block: 'grid-mobile__100-of-100'}, {block: 'block--' ~ attribute(colors, loop.index0 ) } ] } %}
                     {% block body %}

                     <span class="audit__perception {{'block--' ~ attribute(colors, loop.index0 )}}"></span>
                     <div class="audit__content">
                        <div class="grid grid--col grid--gutter-sm-bottom">
                           {% include '_atoms/content/heading.twig' with { size: 'h3', heading: loop.index ~ '. ' ~ item.title } only %}
                           {{item.caption}}
                        </div>
                     </div>

                     {% endblock %}
                  {% endembed %}
               </div>
            </div>

         {% endfor %}

      </div>

   </div>

{% endblock %}
