
{% extends 'project_fps/_templates/tmpl--paginated-page.twig' %}

{% block content %}

<div class="{{post.post_type}} {{post.post_type}}--{{function('wp_get_post_terms', post.id, 'event-type').0.slug}}">

   <div class="grid grid--col grid--gutter grid--gutter-xlg-bottom grid--gutter-full">
      <div class="grid__100-of-100">
         {% include '_organisms/interface/breadcrumbs.twig' with { breadcrumb_icon: "icon-seperator" } %}
      </div>
      <div class="grid__100-of-100">

         {% for term in function('wp_get_post_terms', post.id, 'event-type') %}
            {% embed '_molecules/content/block.twig' with { bem: [ { block: 'block--sm' }, { block: 'dark' } ] } %}
               {% block body %}
                  {% include '_atoms/content/heading.twig' with {size: 'h5', heading: term.name} only %}
               {% endblock %}
            {% endembed %}
         {% endfor %}
      </div>
      <div class="grid__100-of-100">
         {% include '_atoms/content/heading.twig' with { size: 'h1', heading: post.name}  %}
      </div>
      <div class="grid__100-of-100">
         <div class="grid flex flex--center">
            <div class="grid__35-of-100">
               {{ logo }}
            </div>
         </div>
      </div>
   </div>

   <div class="{{post.post_type}}--body">

      <div class="grid grid--col grid--gutter grid--gutter-rg-bottom">
         <div class="grid__100-of-100">
            <div class="event__meta">
               <div class="grid grid--col grid--gutter grid--gutter-null-bottom">
                  {% include 'project_fps/_atoms/content/date--from-to.twig' %}
                  {% include '_atoms/content/date.twig' with { date: post.get_field('location') } %}
               </div>
            </div>
         </div>
         <div class="grid__100-of-100">
               {{post.content}}
         </div>
      </div>

   </div>
</div>

{% endblock content %}
