{% import 'el.twig' as html %}

{% extends 'template--contact.twig' %}

   {% block success %}

      <div class="wrap--sm widget--join-our-network">
         {{'join our network, widget'}}
      </div>

   {% endblock %}

   {% block form %}
      <div class="widget--join-our-network">
         <div class="wrap">
            <div class="grid-desktop grid-desktop--col flex--align-items-center
            grid-tablet grid-tablet--col
            grid-mobile grid-mobile--col">
               <div class="grid-desktop__60-of-100
               grid-tablet__100-of-100
               grid-mobile__100-of-100">

                     {% embed 'component.twig' with { el: 'form', attrs: { action: '', method: 'post', name: 'contact', id: 'contact' } } %}
                        {% block component %}

                           <div class="grid grid--col grid--gutter-lg-bottom">
                             <div class="grid__100-of-100">

                                   <div class="grid grid--col grid--gutter grid--gutter-rg-bottom flex--align-items-center">


                                     {{ html.createHTMLTag( 'h2', {}, [ { block: 'h1'} ], 'Contact Us') }}


                                     <div class="grid__100-of-100 grid grid--col grid--gutter-sm-bottom flex--align-items-center">
                                        {{ html.createHTMLTag( 'p', {}, [{}], 'Donec ullamcorper nulla non metus auctor fringilla..') }}
                                        {{ html.createHTMLTag( 'p', {}, [{}], 'Register with MedEther.') }}

                                       {% set marked %}
                                          Fields marked {{ html.createHTMLTag( 'span', {}, [ { block: 'text', modifier: ['marked'] } ], '*') }} are mandatory.
                                       {% endset %}

                                        {{ html.createHTMLTag( 'p', {}, [{block:'text', modifier: ['highlight']}], marked) }}
                                     </div>

                                  </div>



                             </div>
                             <div class="grid__100-of-100">

                                <div class="grid-desktop grid-desktop--row grid-desktop--gutter-lg-right
                                grid-tablet grid-tablet--col grid-tablet--gutter-rg-bottom
                                grid-mobile grid-mobile--col grid-mobile--gutter-rg-bottom">
                                   <div class="grid-desktop__50-of-100
                                   grid-tablet__100-of-100
                                   grid-mobile__100-of-100">

                                      {% include 'component.twig' with { el:'label', bem: [{ block: 'form', element: 'message', modifier: ['error'] }], text: form.valid.getError('contact_name'), attrs : {  } } %}
                                      {% include 'component.twig' with { el: 'input', bem: [{ block: 'form', element: 'field' }],
                                         attrs : {
                                            type: 'text', name: 'contact_name', id: 'contact_name', placeholder: 'name', text: form.valid.getValue('contact_name')
                                         }
                                      } %}

                                   </div>
                                   <div class="grid-desktop__50-of-100
                                   grid-tablet__100-of-100
                                   grid-mobile__100-of-100">

                                      {% include 'component.twig' with { el:'label', bem: [{ block: 'form', element: 'role', modifier: ['error'] }], text: form.valid.getError('contact_role'), attrs : {  } } %}




                                      {% include '_molecules/custom-select/custom-select.twig' with {
                                      select_attrs: { name: 'contact_name', id: 'contact_name' },
                                      options: [ {option: 'Role 1'}, {option: 'Role 2'} ] } %}

                                   </div>
                                </div>

                             </div>
                             <div class="grid__100-of-100">

                                <div class="grid-desktop grid-desktop--row grid-desktop--gutter-lg-right
                                grid-tablet grid-tablet--col grid-tablet--gutter-rg-bottom
                                grid-mobile grid-mobile--col grid-mobile--gutter-rg-bottom">
                                   <div class="grid-desktop__50-of-100
                                   grid-tablet__100-of-100
                                   grid-mobile__100-of-100">

                                      {% include 'component.twig' with { el:'label', block: [{ block: 'form', element: 'message', modifier: ['error'] }], text: form.valid.getError('contact_email') , attrs : {}  } %}
                                      {% include 'component.twig' with { el: 'input', bem: [{ block: 'form', element: 'field' }],
                                         attrs : {
                                            type: 'text', name: 'contact_email', id: 'contact_email', placeholder: 'Email', text: form.valid.getValue('contact_email')
                                         }
                                      } %}

                                   </div>
                                   <div class="grid-desktop__50-of-100
                                   grid-tablet__100-of-100
                                   grid-mobile__100-of-100">

                                      {% include 'component.twig' with { el:'label', block: [{ block: 'form', element: 'message', modifier: ['error'] }], text: form.valid.getError('contact_telephone'), attrs : { } } %}
                                      {% include 'component.twig' with { el: 'input', bem: [{ block: 'form', element: 'field' }],
                                         attrs : {
                                            type: 'text', name: 'contact_telephone', id: 'contact_telephone', placeholder: 'Telephone', text: form.valid.getValue('contact_telephone')
                                         }
                                      } %}

                                   </div>
                                </div>

                             </div>
                             <div class="grid__100-of-100">

                                <div class="grid grid--col flex--center">
                                   {{ html.createHTMLTag( 'input', { type: 'submit', name: 'submit', id: 'submit', value: 'join us' }, [{ block: 'btn', modifier: ['submit'] }] ) }}
                                </div>

                             </div>

                        </div>

                        {% endblock %}
                     {% endembed %}



               </div>
            </div>
         </div>
      </div>




   {% endblock %}
