{% extends '_atoms/content/list--address.twig' %}

{% block address_lines %}

	<div class="address__line {{small ? 'smaller': ''}}">
		{% for item in address|slice(0,2) %}
			{% if not loop.last %}
				 {{ item.line ~ ', ' }}
			{% else %}
				 {{ item.line}}
			{% endif %}
		{% endfor %}
	</div>
	<div class="address__line {{small ? 'smaller': ''}}">
		{% for item in address|slice(2) %}
			{% if not loop.last %}
				 {{ item.line ~ ', ' }}
			{% else %}
				 {{ item.line}}
			{% endif %}
		{% endfor %}
	</div>

{% endblock %}
